.notebook-form{
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 50%;
}
.notebook-table{
    border-style: solid;
    padding: 10px;
    margin: auto;
    width: 100%;
}
body>table{
    width: 80%;
}
table{
    border-collapse: collapse;
}
table.list{
    width: 100%;
}
td, th{
    border: 1px solid black #dddddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even),table.list thead{
    background-color: #dddddd;
}
input[type="text"], input[type="number"]{
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form div.form-action-buttons{
    text-align: right;
}
a{
    text-decoration: underline;
    color: #0000ee;
    cursor:pointer;
    margin-right: 4px;
}
label.validation-error{
    color: red;
    margin-left: 5px;
}
.hiden{
    display: none;
}